tests/**/*.js
tests/**/*.d.ts
tests/**/*.metadata.json
src/**/*.metadata.json
*.map
*.metadata.json
.vscode
coverage
documentation
node_modules
npm-debug.log
!src/mqttjs.d.ts
!typings.d.ts
!config/*
!karma.conf.js
!webpack.config.js
!make.js
!clean.js